* {margin:0; padding:0; border:none; outline:none; box-sizing:border-box;}
/*
#193155
#3884ff #1f65d6
#2f4566
#9daab6
#f5f7f9
 */
body {background:#193155b8; font-family: 'Roboto', sans-serif; font-weight:500;}
.hidden {display:none;}

/* Lipsum Generator */
.lipsum-generator {
    width:400px; margin:0 auto;
    font-family: 'Roboto', sans-serif; font-size:14px; font-weight:400px;
    color:#fff;
}

/* buttons */
.lipsum-generator button {
    border-radius:4px; padding:10px 10px;
    background:rgba(255, 255, 255, 0.1); color:#fff;
    font-family: 'Roboto', sans-serif; font-weight:500; font-size:14px;
    box-shadow:rgb(116 129 141 / 10%) 0 1px 1px 0;
    transition:all 250ms ease-out 0s; cursor:pointer;
}
.lipsum-generator button:hover {background:rgba(255, 255, 255, 0.2);}

.lipsum-generator a {color:#fff; text-decoration:none; transition:all 250ms ease-out 0s;}
.lipsum-generator a:hover, .lipsum-generator a:focus {color:#1f65d6;}

/* body */
.lipsum-generator__body {background:#193155; padding:10px;}
.lipsum-generator__body > div:not(:last-child) {margin-bottom:10px;}

/* footer */
.lipsum-generator__footer {
    background:#142845; padding:10px; text-align:center;
    font-size:14px; color:#9daab6; box-shadow:rgb(116 129 141 / 10%) 0 1px 1px 0;
}
.lipsum-generator__footer a {color:#9daab6;}
.lipsum-generator__footer a:hover, .lipsum-generator__footer a:focus {color:#fff;}

/* generate buttons */
.lipsum-generator__generate {
    background:rgba(255, 255, 255, 0.1);
    padding:5px; border-radius:4px;
}
.lipsum-generator__generate-inner {display:flex; position:relative;}
.lipsum-generator__generate button {position:relative; z-index:1; flex-grow:1; background:transparent; color:#9daab6;}
.lipsum-generator__generate button:hover, .lipsum-generator__generate button:focus {background:transparent;}
.lipsum-generator__generate button:hover, .lipsum-generator__generate button:focus,
.lipsum-generator__generate button.active {color:#fff;}
.lipsum-generator__generate button:not(:last-child) {margin-right:10px;}
.lipsum-generator__generate-indicator {
    position:absolute; top:0; bottom:0; left:0; border-radius:4px;
    transition:all 250ms ease-out 0s; background:#3884ff; width:0;
}

/* result */
.lipsum-generator__result {position:relative; overflow:hidden;}
.lipsum-generator__result-textarea {
    display:block; border-radius:4px; width:100%;
    height:200px; resize:none; padding:10px;
    background:rgba(255, 255, 255, 0.1); color:#9daab6;
    font-family: 'Roboto', sans-serif; font-weight:500; font-size:14px;
}

/* noti */
.lipsum-generator__noti {
    position:absolute; bottom:5px; left:50%;
    transform:translate(-50%,0);
    padding:5px; background:#26cb7c; border-radius:4px;
    box-shadow:0 1px 1px 0 rgb(116 129 141 / 20%);
    transition:all 250ms ease-out 0s; pointer-events:none;
}
.lipsum-generator__noti:not(.active) {transform:translate(-50%,40px) scale(.9);}

/* copy */
.lipsum-generator__copy button {padding:12px; width:100%;}