/*********************************
 * Output
 *********************************/
.output-wrapper {position:relative;}
.output-length {
    position:absolute; bottom:3px; right:7px; z-index:2;
    color:var(--color-on-secondary); font-size:12px;
    background:var(--color-secondary); padding:2px 5px;
    transition:var(--transition);
}
.output-wrapper:hover .output-length {opacity:0;}

.output-wrapper ul {margin-left:15px;}

/* Range slider */
body.is-web .range-slider-arrow {transform:translateY(3px);}

/* Badge */
body:not(.is-web) .product-hunt-badge {display:none;}
.product-hunt-badge {
    position:fixed; bottom:60px; right:0;
}
@media (hover:none) {
    .product-hunt-badge {display:none;}
}