/* Copyright 2016 Phucbm */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=vietnamese');
/**
font-family: 'Inconsolata', monospace;
 */

/****************
* General
****************/
* { margin:0; padding:0; border:none; outline:none; }
body {
    font-family: 'Inconsolata', monospace; font-size: 14px;
    width:400px; border:1px solid #000;
    color:#000;
}
a { color:#4285f4; text-decoration: none;}
a:hover { text-decoration: underline; }
.hidden {display: none;}
main {padding:10px 10px 0;}

/****************
* Types
****************/
#types > button {}
#types > button.active {border:1px solid red;}

/****************
* Quantity
****************/

/****************
* Output
****************/
#output-wrapper {

}
#output {
    height: 200px;
    width: 100%;
    resize: none;
    border:1px solid #ccc;
}

/****************
* Footer
****************/
footer {
    background-color: #f0f0f0; padding: 10px 0;
    color:#636363; text-align:center; font-size: 12px;
}