* {margin:0; padding:0; border:none; outline:none; box-sizing:border-box;}
/*
#193155
#3884ff #1f65d6
#2f4566
#9daab6
#f5f7f9
 */
body {background:#193155b8; font-family: 'Roboto', sans-serif; font-weight:500;}
.hidden {display:none;}

/* Lipsum Generator */
.lipsum-generator {
    width:500px; margin:0 auto; position:relative;
    font-family: 'Roboto', sans-serif; font-size:14px; font-weight:400px;
    color:#fff;
}

/* loading */
.lipsum-generator__body:before {
    content:''; position:absolute; top:0; left:0; bottom:0; right:0; z-index:2;
    background:#193155 url(../images/loading-icon.svg) center center/50px no-repeat;
    transition:all .25s ease-out;
}
.lipsum-generator:not(.loading) .lipsum-generator__body:before {opacity:0; visibility:hidden;}

/* buttons */
.lipsum-generator button {
    border-radius:4px; padding:10px 10px;
    background:rgba(255, 255, 255, 0.1); color:#fff;
    font-family: 'Roboto', sans-serif; font-weight:500; font-size:14px;
    box-shadow:rgb(116 129 141 / 10%) 0 1px 1px 0;
    transition:all 250ms ease-out 0s; cursor:pointer;
}
.lipsum-generator button:hover {background:rgba(255, 255, 255, 0.2);}

.lipsum-generator a {color:#fff; text-decoration:none; transition:all 250ms ease-out 0s;}
.lipsum-generator a:hover, .lipsum-generator a:focus {color:#1f65d6;}

/* body */
.lipsum-generator__body {background:#193155; padding:10px; position:relative; height:482px;}
.lipsum-generator__body > div:not(:last-child) {margin-bottom:10px;}

/* footer */
.lipsum-generator__footer {
    background:#142845; padding:10px; text-align:center;
    font-size:14px; color:#9daab6; box-shadow:rgb(116 129 141 / 10%) 0 1px 1px 0;
}
.lipsum-generator__footer a {color:#9daab6;}
.lipsum-generator__footer a:hover, .lipsum-generator__footer a:focus {color:#fff;}

/* generate buttons */
.lipsum-generator__generate {
    background:rgba(255, 255, 255, 0.1);
    padding:5px; border-radius:4px;
}
.lipsum-generator__generate-inner {display:flex; position:relative;}
.lipsum-generator__generate button {position:relative; z-index:1; flex-grow:1; background:transparent; color:#9daab6;}
.lipsum-generator__generate button:hover, .lipsum-generator__generate button:focus {background:transparent;}
.lipsum-generator__generate button:hover, .lipsum-generator__generate button:focus,
.lipsum-generator__generate button.active {color:#fff;}
.lipsum-generator__generate button:not(:last-child) {margin-right:10px;}
.lipsum-generator__generate-indicator {
    position:absolute; top:0; bottom:0; left:0; border-radius:4px;
    transition:all 250ms ease-out 0s; background:#3884ff; width:0;
}

/* result */
.lipsum-generator__result {position:relative; overflow:hidden;}
.lipsum-generator__result-textarea {
    display:block; border-radius:4px; width:100%;
    height:200px; resize:none; padding:10px; cursor:copy;
    background:rgba(255, 255, 255, 0.1); color:#fff;
    font-family: 'Roboto', sans-serif; font-weight:500; font-size:14px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition:all 250ms ease-out 0s;
}
.lipsum-generator__result-textarea:hover {background:rgba(255, 255, 255, 0.2);}

/* noti */
.lipsum-generator__noti {
    position:absolute; bottom:5px; left:50%;
    transform:translate(-50%,0);
    padding:5px; background:#26cb7c; border-radius:4px;
    box-shadow:0 1px 1px 0 rgb(116 129 141 / 20%);
    transition:all 250ms ease-out 0s; pointer-events:none;
}
.lipsum-generator__noti:not(.active) {transform:translate(-50%,40px) scale(.9);}

/* copy */
.lipsum-generator__copy button {padding:12px; width:100%; cursor:copy;}


/* ion range slider */
.lipsum-range-slider .irs--flat {height:36px;}
.lipsum-range-slider .irs--flat .irs-line,
.lipsum-range-slider .irs--flat .irs-bar {height:4px; background:#9daab6; top:24px;}
.lipsum-range-slider .irs--flat .irs-bar {background:#3884ff;}
.lipsum-range-slider .irs--flat .irs-handle {
    top:17px; height:18px; width:18px; border-radius:50%;
    background:#f5f7f9; border:3px solid #3884ff;
    transition:box-shadow .25s ease-out; cursor:pointer;
}
.lipsum-range-slider .irs--flat .irs-handle.state_hover,
.lipsum-range-slider .irs--flat .irs-handle:hover {box-shadow:0 0 0 3px rgb(238 238 238 / 43%);}
.lipsum-range-slider .irs--flat .irs-handle i {display:none;}
.lipsum-range-slider .irs--flat .irs-min, .lipsum-range-slider .irs--flat .irs-max {
    background:transparent; color:#9daab6; font-size:12px; padding:0; line-height:1;
}
.lipsum-range-slider .irs--flat .irs-single {
    background:transparent; color:#fff;
    font-size:12px; line-height:1; padding:0;
}
.lipsum-range-slider .irs--flat .irs-single:before {display:none;}

/* checkbox */
.lipsum-generator__quick-settings {padding-top:2px;}
.lipsum-generator__quick-settings__text-transform {padding-top:5px;}

.lipsum-generator__checkbox:not(:last-child) {margin-bottom:7px;}
.lipsum-generator__checkbox {
    position:relative; min-height:20px; padding-right:50px;
    display:flex; align-items:center;
}
.lipsum-generator__checkbox label {color:#9daab6;}
.lipsum-generator__checkbox-input {
    display:block; position:absolute; top:0; right:0; cursor:pointer;
    width:40px; height:20px; background:rgba(255, 255, 255, 0.1); border-radius:10px;
    transition:all .3s ease;
}
.lipsum-generator__checkbox-input input {opacity:0; visibility:hidden;}
.lipsum-generator__checkbox-input:before {
    content:''; position:absolute; top:2px; left:2px;
    width:16px; height:16px; background:#9daab6; border-radius:50%;
    transition:all .3s ease;
}
.lipsum-generator__checkbox-input.active {background:#3884ff;}
.lipsum-generator__checkbox-input.active:before {left:22px; background:#fff;}

.lipsum-generator-label {
    color:#9daab6; text-transform:uppercase; letter-spacing:1px; font-weight:500;
    margin-bottom:3px; display:block; font-size:12px; opacity:.8;
}